In [11]:
import pandas as pd
import numpy as np

file_to_load = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data['SN'].nunique()
pd.DataFrame([{"Total Players" : total_players
}])

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [3]:
unique_items = purchase_data['Item ID'].nunique()
avg_price = purchase_data['Price'].mean()
num_purch = purchase_data['Item ID'].count()
total_rev = purchase_data['Price'].sum()

purch_table_df = pd.DataFrame([{"Number of Unique Items": unique_items, 
                             "Average Price": avg_price, 
                             "Number of Purchases": num_purch, 
                             "Total Revenue": total_rev
}])

purch_table_df = purch_table_df[["Number of Unique Items", 
                                "Average Price", 
                                "Number of Purchases", 
                                "Total Revenue"
]]

#formatting
purch_table_df.style.format({"Average Price": "${:,.2f}",
                            "Total Revenue": '${:,.2f}'
})

## Purchasing Analysis (Total)

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#576 unique players

gender_groupby_df = purchase_data.groupby("Gender")
gender_count_net = gender_groupby_df.nunique()["SN"]
gender_percent = gender_count_net / total_players

gender_count_df = pd.DataFrame({"Total Count": gender_count_net, 
                                "Percentage of Players": gender_percent
})

#formatting
gender_count_df.index.name = None

gender_count_df_clean = gender_count_df.sort_values(by = "Total Count", ascending = False) 

gender_count_df_clean.style.format({"Percentage of Players": "{:,.2%}"
})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purch_gender_count= gender_groupby_df["Purchase ID"].count()
purch_gender_avg = gender_groupby_df["Price"].mean()
purch_gender_total = gender_groupby_df["Price"].sum()
purch_gender_avg_person = purch_gender_total / gender_count_net

purch_gender_df = pd.DataFrame({"Purchase Count": purch_gender_count, 
                                "Average Purchase Price": purch_gender_avg,
                                "Total Purchase Value": purch_gender_total,
                                "Avg Total Purchase per Person": purch_gender_avg_person
})

#formatting
purch_gender_df_clean = purch_gender_df.sort_values(by = "Purchase Count", ascending = False) 

purch_gender_df_clean.style.format({"Total Purchase Value": "${:,.2f}",
                                    "Average Purchase Price": "${:,.2f}",
                                    "Avg Total Purchase per Person": "${:,.2f}"
})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#age demo, 8 bins + 1 for 0

age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 999]
age_ranges = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels = age_ranges)

age_groupby = purchase_data.groupby("Age Group")
age_count_net = age_groupby["SN"].nunique()
age_percent = age_count_net / total_players

age_df = pd.DataFrame({"Total Count": age_count_net, 
                        "Percentage of Players": age_percent
})

#formatting
age_df.style.format({"Percentage of Players": "{:,.2%}"
})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#age & purchase demo, same bins as above
#<10 bin is at bottom in example solutions

purch_count_age = age_groupby["Purchase ID"].count()
purch_price_avg = age_groupby["Price"].mean()
purch_sales_age = age_groupby["Price"].sum()

purch_avg_age = purch_sales_age / age_count_net

purch_age_df = pd.DataFrame({"Purchase Count": purch_count_age, 
                               "Average Purchase Price": purch_price_avg, 
                               "Total Purchase Value": purch_sales_age, 
                               "Avg Total Purchase per Person": purch_avg_age
})

#formatting
purch_age_df.style.format({"Average Purchase Price": "${:,.2f}", 
                             "Total Purchase Value": "${:,.2f}", 
                             "Avg Total Purchase per Person": "${:,.2f}"
})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
spender_groupby = purchase_data.groupby("SN")

spender_purch_count = spender_groupby["Purchase ID"].count()
spender_purch_avg = spender_groupby["Price"].mean()
spender_purch_total = spender_groupby["Price"].sum()

spenders_top_df = pd.DataFrame({"Purchase Count": spender_purch_count, 
                                "Average Purchase Price": spender_purch_avg, 
                                "Total Purchase Value": spender_purch_total
})

#formatting
spenders_top_df_clean = spenders_top_df.sort_values(by = "Total Purchase Value", ascending=False).head(5)

spenders_top_df_clean.style.format({"Average Purchase Price": "${:,.2f}",
                                    "Total Purchase Value": "${:,.2f}"

})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#top 5 items

item_data = purchase_data[["Item ID", 
                           "Item Name", 
                           "Price"
]]

item_data_groupby = item_data.groupby(["Item ID", 
                                      "Item Name"
])

item_purch_count = item_data_groupby["Price"].count()
item_sales = item_data_groupby["Price"].sum()
item_price_avg = item_sales / item_purch_count

item_data_df = pd.DataFrame({"Purchase Count": item_purch_count, 
                            "Item Price": item_price_avg,
                            "Total Purchase Value":item_sales
})

#formatting
item_data_df_clean = item_data_df.sort_values(["Purchase Count"], ascending=False).head(5)

item_data_df_clean.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"
})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#top 5 profit items

item_data_profit = item_data_df
item_data_profit_clean = item_data_profit.sort_values(["Total Purchase Value"],ascending=False).head(5)

#formatting
item_data_profit_clean.style.format({"Item Price":"${:,.2f}",
                                    "Total Purchase Value":"${:,.2f}"
})

## 3 Observations

1. Vasy majroity of players are males in the 20-24 age demographic. Future promotions and events should lean towards this demographic to maximize success. 


2. Oathbreaker is by far the most popular item with a base price that's higher than the average of $3.09. The effect(s)/bonus(es) from the item seem to be unique or imbalanced 


2. There are a few items with duplicate names at different price points. Adding something to differentiate the variations to avoid confusion. It'll also make adding additional tiers easier, e.g. Final Critic lv. 1, Final Critic lv. 2, etc.